
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    background-color:#f6f6f6;;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 2rem;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: black;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    padding: 20px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    border: none;
    color: white;
}

.inout{
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#clearButton, #backSpaceButton, #modulasButton{
    color: black;
    background-color: lightgray;
}

#divideButton, #subtractButton, #multiplyButton,
 #plusButton{
    background-color: orange;
}