
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    background-color:#b9b9b9;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8rem auto;
    margin-bottom: 2rem;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: #212121;
    border: 8px solid black;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 70%);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    padding: 20px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
}

.inout{
    padding: 30px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    text-align: right;
    background-color: #3B3B3B;
}

button:hover{
    background-color: rgb(49, 49, 49);
}

#clearButton, #backSpaceButton, #modulasButton{
    color: black;
    background-color: lightgray;
}

#clearButton:hover, #backSpaceButton:hover, #modulasButton:hover{
    background-color: darkgray;
}

#divideButton, #subtractButton, #multiplyButton,
 #plusButton{
    background-color: orange;
 }

 #divideButton:hover, #subtractButton:hover, #multiplyButton:hover,
 #plusButton:hover{
    background-color: darkorange;
 }

 #zeroButton{
    grid-column: 1/3;
    border-radius: 2.5rem;
}